.container-fluid .row:first-of-type {
    margin-bottom: 15px;
}

.animate{
    animation: animateElement linear .3s;
    animation-iteration-count: 1;
}

@keyframes animateElement{
    0% {
        opacity:0;
        transform:  translate(0px,10px);
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px);
    }
}